/*
colors:
aqua: #9bf2d7;
pink: #ffa8ca;
yellow: #f2e266;
*/

/*
hotfoods:
coffee: https://static.vecteezy.com/system/resources/previews/000/395/325/non_2x/hot-drink-paper-cup-with-mockup-sleeve-vector.jpg
donut: https://static.vecteezy.com/system/resources/previews/000/406/612/non_2x/donut-with-a-bite-vector.jpg
banana split: http://www.vectorsland.com/imgd/l91318-banana-split-86989.jpg
pancakes: https://media.istockphoto.com/vectors/breakfast-pancakes-illustration-vector-id928142004?k=6&m=928142004&s=612x612&w=0&h=cZIzTU4T4F7OsPSQsQJGHE-Y3Uq0tciuiDUd_Np2vG8=

coldfoods:
icedCoffee: https://static.vecteezy.com/system/resources/previews/000/202/224/non_2x/iced-coffee-illustration-vector.jpg
sundae: https://static.vecteezy.com/system/resources/previews/000/643/121/non_2x/vector-twisted-soft-ice-cream-on-pastel-background.png
fruit salad: https://static.vecteezy.com/system/resources/previews/000/271/037/non_2x/color-acai-bowl-vector.jpg
popsicle: https://static.vecteezy.com/system/resources/previews/000/535/056/non_2x/vector-ice-pop.jpg

*/

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	height: auto;
	background: #9bf2d7;
}

/* input {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  text-align: center;
  font-size: 20px;
  padding: 1.2rem;
}

input:hover {
  background: white;
}

textarea:focus,
input:focus {
  color: hotpink;
}

input,
select,
textarea {
  color: #222;
}
::-webkit-input-placeholder {
  font-weight: 200;
  letter-spacing: 1px;
  color: hotpink;
} */
